@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

// colors
$gray-300: #a3a3a3;
$gray-400: #858585;
$primary-400: #35596c;
$primary-500: #19303b;
$primary-600: #072031;
$primary-700: #051926;
$primary-800: #060f14;
$secondary-300: #7ac5d7;
$secondary-500: #219ebc;
$secondary-800: #00b5e0;
$tertiary-50: #fff8e6;
$tertiary-100: #fff1cd;
$quaternary-500: #fb8500;
// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}